.homepage {
    // background-color: -webkit-gradient(linear, left top, left bottom, from(rgb(54, 54, 54)), to(rgb(20, 20, 20)));
    // background-color: rgb(10, 10, 10);
    // background-color: rgb(80, 40, 240);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(80, 40, 240)),to(#121212));
    height: 92vh;
}

