.login-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 32px;
    text-align: center;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 20px 0 40px;
    padding-bottom: 130px;  

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .btn-login {
        cursor: pointer;
        border: 0px;
        width: 200px;
        margin: 20px;
        font-weight: bold;
        border-radius: 500px;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 17px 48px;
        background-color: rgb(29, 185, 84);
        color: rgb(255, 255, 255);


    }
    
}
#comeonin {
    display: flex;
    justify-content: center;
    align-items: center;
}

 #signuplinkcontainer {
        cursor: pointer;
        text-align: center;
        border: 2px solid #616467 !important;
        width: 450px;
        margin: 20px;
        font-weight: bold;
        border-radius: 500px;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 17px 48px;
        background-color: white;

    }

    #signuplinkcontainer:hover {
        background-color: #616467;
        transition-duration: .3s;
    }

    
    
    .btn-login:hover {
        cursor: pointer;
        background-color: #39e475;
        transform: scale(1.05);
        transition-duration: .3s;

    }
    
    
    #spotifinalogotop {
        color: black;

        h4 {
            position: relative;
            top: -8px;
        }
    }