.login-container {
     font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 32px;
    text-align: center;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 20px 0 40px;
    padding-bottom: 130px;  

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .btn-login {
        cursor: pointer;
        border: 0px;
        width: 450px;
        font-weight: bold;
        border-radius: 500px;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        padding: 17px 48px;
        background-color: rgb(29, 185, 84);
        color: rgb(255, 255, 255);

    }


    div {
        text-align: center;
        
    }
}