.session-form {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 32px;
    text-align: center;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 20px 0 40px;
    padding-bottom: 130px;    
    // label {
    //     display: flex;
    //     justify-content: center;
    // }
    

    h3 {
        text-align: center;
        font-size: 30px;
        margin: 40px 0px 0px;
        margin-bottom: 40px;
        
    }

    .littlebox {
        width: 450px;
        border-radius: 4px;
        border-width: thin;  
        padding: 14px;
        box-sizing: border-box;
    }

    .choiceunit {
        font-weight: 100;
    }

    p {
        font-size: 12px;
        font-weight: 100;
    }

    .bdaybox {
        display: flex;
        justify-content: center;
    }

    .signupbutton {
        cursor: pointer;
        border: 0px;
        width: 450px;
        font-weight: bold;
        border-radius: 500px;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        padding: 17px 48px;
        background-color: rgb(29, 185, 84);
        color: rgb(255, 255, 255);

    }

}

.spotifinalogo {
        display: inline-flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 100;
}

.demologin {
        cursor: pointer;
        border: 0px;
        width: 220px;
        font-weight: bold;
        border-radius: 500px;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 2px;
        margin: 20px;
        padding: 17px 48px;
        background-color: rgb(29, 185, 84);
        color: rgb(255, 255, 255);

    }
.demologin:hover {
        cursor: pointer;
        background-color: #39e475;
        transform: scale(1.05);
        transition-duration: .3s;

}

.signupbutton:hover {
        cursor: pointer;
        background-color: #39e475;
        transform: scale(1.05);
        transition-duration: .3s;

}

#inputprompt {
     text-align: left;
}

#login-link {
    color: rgb(29, 185, 84);
}